<h1 id="navbar-brand" style="background-color: green" style="text-align: center;;">Kaisimu Education Fund 

</h1>
<nav class="navbar">
		<ul id="navbar-nav" class="hidden">
			<li class="nav-item">
				<a class="nav-link" href="fundastudent.html">Fund a Student</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="getinvolved.html">Get Involved</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="index.html">About</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="login.html">Login</a>
		</li>
		</ul>
	</nav>