<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>about-page</title>

    <style>
        body {
            background-color: burlywood;
        }
    </style>

    <% include ../partials/navigation %>
</head>

<body>
    <div class="continaer" id="backgroundcolor">

        <h2>About</h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio reprehenderit aliquid ipsa molestiae nulla
        rem, quam omnis, quasi minima accusantium provident nobis quo fugiat illum? Minus facilis hic impedit. Dicta
        quisquam dolorum id eos, aut laboriosam? Qui in earum, itaque ullam, exercitationem eos, assumenda totam dolor
        tempora asperiores minus nemo?

    </div>

</body>

</html>