<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>firstpage</title>
   
    <style>
    body{
        background-color: burlywood;
    }
    #h-1{
        text-align: center;
    }
    
    
    </style>
</head> 
<body>
   <header> <% include ../partials/navigation %> </header>
    <div class="container">
        <section id="students" >
            <div class="studentclass">
                    <h1 id="h-1" >Kasimu Education Fund Students <br> 100% of donations go to students</h1>

            </div>

        </section>
        
    
           
     <% include ../partials/footers %>
        
    </div>

</body>
</html>